
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/site.js"></script>
</head>


<div class="container">
    <div class="left">
        <div class="header">
            <h2 class="animation a1">Gazi Üniversitesi</h2>
            <h4 class="animation a1">Metaverse dünyasına sen de katıl</h4>
            <br />
            <img class="animation a2" style="max-height:70px;" src="~/image/vrglasses.png" />
            <br />
            <h1 class="animation a2" style="color:greenyellow;">Kayıt Başarılı!</h1>
            
        </div>
        
    </div>
    <div class="right"></div>
</div>
