@model tckimlikdogrulama.Model.signupModel
@{
}
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/metastyle.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="https://kit.fontawesome.com/5b04c6dd7a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="form-container left">
                <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                    <div class="text1">
                        <div class="mb-3 animation a1">
                            <img src="/image/logo.png" width="100px">
                        </div>
                        <div class="heading mb-1">
                            <h3 class="animation a1">Gazi Üniversitesi</h3>
                        </div>
                        <div class="heading mb-2">
                            <h4 class="animation a1">Metaverse dünyasına sen de katıl</h4>
                            <span class="valerror animation a1" id="errorresult"></span>
                        </div>
                    </div>

                    @if (ViewBag.ps == false)
                    {

                    <form action="/" id="SignupForm" class=" form">
                        <div class="form-input animation a2">
                            <span><i class="fa fa-pen"></i></span>
                            <input type="text" name="Ad" placeholder="Ad" required>

                        </div>

                        <div class="form-input animation a2">
                            <span><i class="fa fa-pen"></i></span>
                            <input type="text" name="Soyad" placeholder="Soyad" required>

                        </div>

                        <div class="form-input animation a3">
                            <span><i class="fa fa-calendar-days"></i></span>
                            <input type="datetime" name="DogumYili" placeholder="Doğum Tarihi" onfocus="(this.type='date')" required>

                        </div>
                        <div class="form-input animation a4">
                            <span><i class="fa fa-fingerprint"></i></span>
                            <input type="number" name="TCKimlikNo" placeholder="Tc Kimlik No" required>

                        </div>
                        <div class="form-input animation a4">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="email" name="Email" placeholder="Email" required>
                        </div>

                        <div class="form-input animation a5">
                            <a onclick="getAccount()" class="btn btn-danger" id="enableEthereumButton"> Metamask'a Bağlan</a>

                        </div>
                        <div class="form-input animation a5">
                            <span><i class="fa fa-link"></i></span>
                                <input type="text" name="metamaskaddress" id="showAccount" placeholder="Metamask Adresi" readonly required>
                        </div>

                        <div class="text-left animation a6">
                            <button type="submit" class="btn">Katıl</button>
                        </div>
                    </form>
                    
                    }
                    else
                    {
                    <div class="header">

                    <img class="animation a2" style="max-height:70px;" src="~/image/vrglasses.png" />
                    <br />
                    <h1 class="animation a2" style="color:greenyellow;">Kayıt Başarılı!</h1>

                    </div>
                    }

                </div>
            </div>

            <div class="d-none d-md-block image-container right"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript">
        
        $("#SignupForm").submit(function AjaxFormSubmit() {
            event.preventDefault();
            var $form = $(this),
                Ads = $form.find("input[name='Ad']").val(),
                Soyads = $form.find("input[name='Soyad']").val(),
                DogumYilis = $form.find("input[name='DogumYili']").val(),
                TCKimlikNos = $form.find("input[name='TCKimlikNo']").val(),
                Emails = $form.find("input[name='Email']").val(),
                metamaskaddresss = $form.find("input[name='metamaskaddress']").val(),
                url = $form.attr( "action" );
            
            var posting = $.post(url, { Ad: Ads, Soyad: Soyads, DogumYili: DogumYilis, TCKimlikNo: TCKimlikNos, Email: Emails, metamaskaddress: metamaskaddresss });
            posting.done(function (data) {
                var content = data.error;
                console.log(data.error);
                $("#errorresult").empty().append(content);
               
            });    
        });
    </script>

</body>
